---
import HeroContainer from '@/components/HeroContainer.astro'
import Layout from '@/layouts/Layout.astro'
import BentoCategories from '@/components/BentoCategories.astro'
---

<Layout
  title="Vive un turismo con clase en Loja"
  description="Loja ubicado en Ecuador, es rica de experiencias artisticas, naturaleza, historia, nombrada como poseedora de la fuente de la eternaidad. Loja es una experiencia diferente para todos. Vive un turismo con clase en Loja"
>
  <main>
    <HeroContainer
      clipPath="polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0)"
      image="/images/loja_puerta_ciudad.webp"
    >
      <div class="text-white text-center p-12">
        <h1 class="text-6xl font-medium">Bienvenidos a Loja</h1>
        <p class="text-lg mt-4">
          Explora los rincones de Loja, su arte,<br />la naturaleza y su cultura
        </p>
      </div>
    </HeroContainer>
    <section class="py-32">
      <div class="container">
        <h2 class="text-5xl mb-8 font-bold text-center">
          Encuentra lugares increibles
        </h2>
        <p class="max-w-md text-lg mb-24 text-center w-full mx-auto">
          Loja es una experiencia diferente para todos. Conoce y disfruta de su
          cultura, historia, festividades, talleres y reserva tu lugar en Hotel
          Carrion.
        </p>
        <BentoCategories />
      </div>
    </section>
  </main>
</Layout>
