---
import { Icon } from 'astro-icon/components'
import { headerRoutes } from '@/utils/constants'

const currentPath = new URL(Astro.request.url).pathname
---

<header
  id="header"
  class="fixed z-50 flex justify justify-between top-0 left-0 px-4 py-4 w-full"
>
  <div class="flex gap-4">
    <picture>
      <a href="/" class="block">
        <span>LOGO</span>
      </a>
    </picture>
    <nav
      id="header-menu"
      class="max-md:absolute md:px-4 max-md:py-4 rounded-lg top-16 right-4 max-md:max-w-52 w-full max-md:bg-white max-md:hidden max-md:shadow-lg"
    >
      <ul
        class="flex text-sm font-semibold max-md:flex-col max-md:text-slate-900 md:gap-4"
      >
        {
          headerRoutes.map(({ path, label }) => (
            <li>
              <a
                class:list={[
                  'block max-md:hover:bg-blue-100 max-md:px-4 max-md:py-2',
                  {
                    'max-md:bg-blue-100 max-md:text-blue-500 md:opacity-100':
                      path === currentPath,
                    'md:opacity-80': path !== currentPath,
                  },
                ]}
                href={path}
              >
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <button id="menu-button" class="text-2xl md:hidden">
    <Icon class="text-white" name="tabler:menu-2" />
  </button>
</header>

<script>
  const $menuButton = document.querySelector(
    '#menu-button'
  ) as HTMLButtonElement
  const $menu = document.querySelector('#header-menu') as HTMLDivElement

  $menuButton.addEventListener('click', () => {
    $menu.classList.toggle('max-md:hidden')
  })
</script>
